*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
html{
    font-size: 100%;
}
@media(max-width:980px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}